@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root{
    --orange: #fc5518;
    --orange-light: #f8efeb;
    --orange-dark: #e64500;
    --blue: #153a60;
    --white: #fff;
    --black: #000;
    --grey: #f5f3f3;
    --dark-grey: rgb(186, 184, 184);
    --font-family-one: "Noto Sans", sans-serif; 
    --font-family-three: 'Merriweather', serif;   
}


@media only screen and (max-width: 345px) { 
    #services .swapImg i{
        font-size: 1rem !important;
        margin-top: 25px !important;
        padding: 2px !important;
    }
    #services .swapImg img{
        width: 50px !important;
        height: 100px !important;
    }
    #services img{
        width: 100px !important;
        height: 250px !important;
    }
}

@media only screen and (min-width: 992px){ 
    #services .card{
        height: 550px !important;
    }

    /* parallax */
    #parallaxSection #headers h2{
        font-family: var(--font-family-one);
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 600;
    }
    #parallaxSection #headers hr{
        width: 80px;
        height: 2px;
        background-color: var(--orange-dark);
        border: 0;
        margin: auto;
    }

    #parallax-sm-screen{
        display: none;
    }
    #parallaxSection::before {    
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.70);
    }
    #parallaxSection {
        background-image: url("/assets/img/phoneswap.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        min-height: fit-content;
        height: 100vh; 
    } 
    #parallaxSection .wrapperText{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
        width: 97%;
        height: fit-content;
    }
    #parallaxSection .wrapperText img{
        width: 350px;
        height: 320px;
        float: left;
        margin: 10px;
    }
    #parallaxSection p{
        color: var(--white);
        margin-top: 15px;
    } 


    /* logistics parallax */
    #logistics-parallax-sm-screen{
        display: none;
    }
    #logisticsParallaxSection::before {    
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.70);
    }
    #logisticsParallaxSection {
        background-image: url("/assets/img/red_truck.webp");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        height: 100vh; 
    } 
    #logisticsParallaxSection .wrapperText{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
        height: fit-content;
        width: 97%;
    }
    #logisticsParallaxSection .wrapperText img{
        width: 350px;
        height: 260px;
        float: left;
        margin: 10px;
    }
    #logisticsParallaxSection p{
        color: var(--white);
        margin-top: 15px;
    } 
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 
    #services .swapImg i{
        font-size: 2rem !important;
        margin-top: 100px !important;
        padding: 5px !important;
    }
    #services .swapImg img{
        width: 80px !important;
        height: 250px !important;
    }
    #services img{
        width: 200px !important;
        height: 250px !important;
    }
    #services .card{
        height: 500px !important;
    }

}

@media only screen and (max-width: 768px) {
    #navbar .nav-item a{
        text-decoration: none;
        font-family: var(--font-family-two);
        color: var(--blue);
        font-weight: 800;
        font-size: 1rem;
    }

    /* banner */
    .banner-bg-screen{
        display: none;
    }
    .banner-sm-screen {
        display: block;
        width: 100%;
        height: 400px;
        background-size: cover;
        object-fit: contain;
        background-image: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        background-image: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        filter : progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FC5518", GradientType=1 );  
        background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        position: relative;
    }
    .banner-sm-screen .banner-inner {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 90%;
        text-align: start;
    }
    .banner-sm-screen .banner-inner .span{
        font-size: 1.3rem;
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.5px;
        font-family: var(--font-family-one);
    }
    .banner-sm-screen .banner-inner h1{
        padding-top: 10px;
        font-size: 1.3rem;
        color: #fff;
        font-family: var(--font-family-one);
        font-weight: 900;
    }
    .banner-sm-screen .banner-inner h4{
        font-family: var(--font-family-one);   
        font-size: 1rem;
        font-weight: 700;
        color: var(--orange);
    }

     /* parallax */
     #parallax-sm h2{
        color: var(--white);
        font-size: 1.5rem;
        font-family: var(--font-family-one);
        font-weight: 600;
    }

    #parallaxSection{
        display: none;
    }
    #parallax-sm-screen {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img//phoneswap.jpeg");
        height: fit-content;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #parallax-sm{
        width: 100%;
        height: max-content;
    }
    #parallax-sm p{
        color: var(--white);
    } 

    /* logistics */
    #logisticsParallaxSection{
        display: none;
    }
    #logistics-parallax-sm-screen {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/red_truck.webp");
        height: fit-content;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #logistics-parallax-sm-screen{
        width: 100%;
        height: fit-content;
    }
    #logistics-parallax-sm-screen p{
        color: var(--white);
    } 


    /* testimonial */
    .carousel-comment {
        height: 500px;
        overflow: hidden; 
    }
    .carousel-comment h5{
        font-weight: 800;
    }
    .testimonial-image i{
        font-size: 30px;
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 50%;
        padding: 10px;
        background-color: var(--white);
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc5518' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }  
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc5518' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-indicators [data-bs-target] {
        border-radius: 50%;
        width: 12px;
        height: 12px;
    }
    .carousel-dark .carousel-indicators [data-bs-target], .carousel-indicators [data-bs-target] {
        background-color: var(--orange-dark);
    }
} 

@media only screen and (min-width: 769px) {
    /* navbar */
    #navbar .nav-item a{
        text-decoration: none;
        font-family: var(--font-family-two);
        color: var(--blue);
        font-weight: 800;
        font-size: 1rem;
    }

    /* banner */
    .banner-sm-screen{
        display: none;
    }
    .banner-bg-screen {
        display: block;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-image: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        background-image: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        filter : progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FC5518", GradientType=1 );  
        background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        position: relative;
    } 
    .banner-bg-screen .banner-inner {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -50%); 
        width: 90%;
        text-align: start;
    }
    .banner-bg-screen .banner-inner .span{
        font-size: 1.70rem;
        font-weight: 300;
        color: #fff;
        letter-spacing: 0.5px;
        font-family: var(--font-family-one);
    }
    .banner-bg-screen .banner-inner h1{
        padding-top: 10px;
        font-size: 2rem;
        color: #fff;
        font-family: var(--font-family-one);
        font-weight: 700;
    }
    .banner-bg-screen .banner-inner p{
        font-family: var(--font-family-one);   
        color: var(--orange);
    }
    .banner-bg-screen .banner-inner h4{
        font-family: var(--font-family-one);   
        font-size: 1.44rem;
        font-weight: 700;
        color: var(--orange);
    }
    .banner-bg-screen .banner-inner .btn{
        background-color: var(--orange);
        border: 2px solid var(--orange);
        font-size: 1rem;
        color: #fff;
    }


    /* gallery */
    .gallery-image img{
        height: 600px;
        width: 600px;
    }
    .gallery-grid-images img{
        height: 230px;
        width: 230px;
    }
 


    /* testimonial */
    .carousel-comment h5{
        font-weight: 800;
    }
    .carousel-comment p{
        margin: 50px;
    }
    .testimonial-image i{
        font-size: 2rem;
        color: var(--orange);
        border: 1px solid var(--orange);
        border-radius: 50%;
        padding: 10px;
        background-color: var(--white);
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc5518' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc5518' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }  
    .carousel-indicators [data-bs-target] {
        border-radius: 50%;
        width: 13px;
        height: 13px;
    }
    .carousel-dark .carousel-indicators [data-bs-target], .carousel-indicators [data-bs-target] {
        background-color: var(--orange-dark);
    }
}


*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--font-family-two);
    letter-spacing: 0.5px;
}

h5{
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--font-family-two);
    letter-spacing: 0.5px;
}

#headers h2{
    font-family: var(--font-family-one);
    color: var(--blue);
    font-size: 1.7rem;
    font-weight: 600;
}

#headers hr{
    width: 80px;
    height: 2px;
    background-color: var(--orange-dark);
    border: 0;
    margin: auto;
}

/* buttons */
#bannerBtn .btn{
    background: var(--orange-dark);
    border: none;
    border-radius: 0px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    margin: 3px;
    letter-spacing: 0.5px;
    font-family: var(--font-family-one);
}
#bannerBtn .btn:hover{
    background: var(--white);
    border: none;
    color: var(--blue);
    font-weight: 600;
}

#contentButton .btn{
    background: var(--orange-dark);
    border-radius: 2px;
    color: var(--white);
    padding: 6px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    border: 2px solid var(--orange-dark);
    font-family: var(--font-family-one);
}
#contentButton .btn:hover{
    background: var(--white);
    border-radius: 2px;
    color: var(--blue);
    padding: 6px;
    font-weight: 600;
    border: 2px solid var(--white);
}

#galleryButton .btn{
    background: var(--orange-dark);
    border-radius: 2px;
    color: var(--white);
    padding: 6px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    border: 2px solid var(--orange-dark);
    font-family: var(--font-family-one);
}
#galleryButton .btn:hover{
    background: var(--white);
    border-radius: 2px;
    color: var(--blue);
    padding: 6px;
    font-weight: 600;
    border: 2px solid var(--blue);
}

#formButton .btn{
    background: var(--orange-dark);
    border-radius: 2px;
    color: var(--white);
    padding: 4px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    border: 2px solid var(--orange-dark);
    font-family: var(--font-family-one);
}
#formButton .btn:hover{
    background: var(--white);
    border-radius: 2px;
    color: var(--blue);
    padding: 4px;
    font-weight: 600;
    border: 2px solid var(--blue);
}


/* navbar */
.navbar-toggler{
    border: none !important;
    font-size: 2rem;
    box-shadow: none !important;
    color: var(--orange) !important;
}
#navbar .nav-item a{
    text-decoration: none;
    font-family: var(--font-family-two);
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: var(--blue);
    font-weight: 800;
}
#navbar .nav-item a:hover{
    text-decoration: none;
    color: var(--orange);
}
#navbar .dropdown a:hover{
    text-decoration: none;
    color: var(--orange);
    background-color: white;
}


/* about */
#about .wrapperText img {
    width: 360px;
    height: 300px;
    float: left;
}


/* services */
#services {
    background: var(--orange-light);
}
#services h5{
    color: var(--orange);
}
#services .swapImg i{
    color: var(--orange);
    font-size: 2.5rem;
    margin-top: 80px;
    padding: 15px;
}
#services .swapImg img{
    width: 80px;
    height: 250px;
}
#services img{
    width: 230px;
    height: 250px;
}


/* hero section */
#authenticity .authenticity-image img {
    width: 360px;
    height: 270px;
    float: right;
}


/* gallery */
#gallery{
    background-color: var(--orange-light);
}
.marquee {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap; 
}
.marquee-content {
    display: inline-flex; 
    animation: marquee 20s linear infinite;
} 
.marquee-content img {
    width: 150px; 
    margin-right: 10px;
}
@keyframes marquee {
    0% {
      transform: translateX(0%); 
    }
    100% {
      transform: translateX(-50%);
    }
} 
.modal .modal-header img{
    height: 70px;
    width: 100px;
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.modal-body img {
    max-width: 100%;
    max-height: 90%;
}


/* contact */
#form{
    font-family: var(--font-family-two);
    font-size: 1rem;
    color: var(--orange);
    letter-spacing: 0.5px;
}
input:focus, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    -webkit-box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    -moz-box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    border: 1px solid var(--grey);
}
:required:focus{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    -webkit-box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    -moz-box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    border: 1px solid var(--grey);

}


/* location */
iframe {
    height: 500px; 
}
  

/* quick links */
#quick-links{
    background: var(--orange-light);
}
#quick-links a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--orange-dark);    
    letter-spacing: 0.5px;
    font-family: var(--font-family-one);
}
#quick-links a:hover{
    text-decoration: 1px solid var(--orange-dark) underline;
}


/* footer */
#footer img{
    height: 120px;
    width: 120px;
}
#footer i {
    color: var(--orange);
    background-color: var(--orange-light);
    padding: 5px;
    border-radius: 50%;
    font-size: 1.25rem;
}
#footer h5{
    color: var(--blue);
    font-size: 1.2rem;
}
#footer .quickLinks ul li {
    padding-bottom: 5px;
}
#footer .quickLinks ul {
    list-style: none;
    padding: 0px;
}
#footer .quickLinks a,
#footer a  {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-family: var(--font-family-two);
    letter-spacing: 0.5px;
}
#footer span {
    color: var(--orange);
}


/* fixed arrow */
#arrow i{
    font-size: 2.5rem;
    color:  var(--orange);
    background-color: white;
}




















