@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

:root{
    --orange: #fc5518;
    --blue: #173b5f;
    --white: #fff;
    --black: #000;
    --font-family-one: 'Arimo', sans-serif;
    --font-family-two: 'Playfair Display', serif;    
}


p{
    font-size: 18px;
    font-family: var(--font-family-one);
}

h3{
    font-family: var(--font-family-one);
}

@media only screen and (max-width: 767px) {
    .navbar-toggler{
        border: none !important;
        font-size: 45px;
        box-shadow: none !important;
        color: var(--orange) !important;
    }
    .banner-bg-screen{
        display: none;
    }
    .banner-sm-screen{
        display: block;
    }
    .banner-sm-screen {
        width: 100%;
        height: 550px;
        background-size: cover;
        object-fit: contain;
        background-image: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        background-image: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        filter : progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FC5518", GradientType=1 );  
        background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        position: relative;
    }
    .banner-sm-screen .banner-inner {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%); 
        width: 50%;
        text-align: start;
    }
    .banner-sm-screen .banner-inner .span1{
        font-size: 30px;
        font-weight: 200;
        color: #fff;
    }
    .banner-sm-screen .banner-inner p{
        font-size: 40px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 500;
    }
    .banner-sm-screen .banner-inner h4{
        font-family: var(--font-family-two);    
        font-size: 20px;
        color: var(--orange);
    }


    #about .card img{
        height: auto;
        width: auto;
    }

} 

@media only screen and (min-width: 768px) {
    .banner-bg-screen{
        display: block;
    }
    .banner-sm-screen{
        display: none;
    }

    .banner-bg-screen {
        width: 100%;
        height: 600px;
        background-size: cover;
        background-image: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        background-image: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        filter : progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FC5518", GradientType=1 );  
        background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        position: relative;
    }
    
    .banner-bg-screen .banner-inner {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%); 
        width: 50%;
        text-align: start;
    }
    .banner-bg-screen .banner-inner .span1{
        font-size: 45px;
        font-weight: 200;
        color: #fff;
    }
    .banner-bg-screen .banner-inner p{
        font-size: 60px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 500;
    }
    .banner-bg-screen .banner-inner h4{
        font-family: var(--font-family-two);   
        font-size: 30px;
        color: var(--orange);
    }


    #about .card img{
        height: 100px;
    }
    
    .image-bg-screen {
        width: 100%;
        height: 600px; 
        background-size: cover;
        background-image: url(/assets/img/Collage\ Maker-04-Nov-2023-08-23-AM-8680.jpg);
        position: relative;
    }
    .image-bg-screen:hover {
        width: 100%;
        height: 600px;
        background-size: cover;
        background-image: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/Collage\ Maker-04-Nov-2023-08-23-AM-8680.jpg);
        background-image: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/Collage\ Maker-04-Nov-2023-08-23-AM-8680.jpg);
        filter : progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FC5518", GradientType=1 );  
        background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/Collage\ Maker-04-Nov-2023-08-23-AM-8680.jpg);
        position: relative;
    }
    .image-bg-screen:hover .image-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 20%;
        text-align: center;
        border-radius: 10px;
    }
    .image-bg-screen .image-inner h1{
        display: none;
    }
    .image-bg-screen:hover .image-inner i{
        font-size: 35px;
        transition: 1s ease;
    }
    .image-bg-screen:hover .image-inner h1{
        display: block;
        transition: 1s ease;
        font-family: var(--font-family-two);   
        font-size: 50px;
        color: var(--white);
    }
}

#navbar .nav-item a{
    text-decoration: none;
    font-family: var(--font-family-one);
    color: var(--blue);
}

#navbar .nav-item a:hover{
    text-decoration: none;
    color: var(--orange);
}

#about .card{
    position: relative;
    height: 20vh;
    background: hsla(0, 51%, 34%, 1);

    background: linear-gradient(225deg, hsla(0, 51%, 34%, 1) 0%, hsla(16, 97%, 54%, 1) 74%);

    background: -moz-linear-gradient(225deg, hsla(0, 51%, 34%, 1) 0%, hsla(16, 97%, 54%, 1) 74%);

    background: -webkit-linear-gradient(225deg, hsla(0, 51%, 34%, 1) 0%, hsla(16, 97%, 54%, 1) 74%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#822A2A", endColorstr="#FC5518", GradientType=1 );
}
#about .card p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 50%;
    color: var(--white);
    font-size: 30px;
    font-family: var(--font-family-one);
}

#offers i{
    font-size: 45px;
    color: var(--orange);
}

  




/* GALLERY */
.modal img{
    height: 90vh;
    width: auto;
}
.modal i{
    color: var(--white);
    font-size: 30px;
}


/* footer */
#footer img{
    height: 12vh;
}
#footer a {
    text-decoration: none;
    color: var(--orange);
}