@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600;200;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

:root{
    --orange: #fc5518;
    /* --orange-light: #ffede6; */
    --orange-light: #f8efeb;
    --orange-dark: #e64500;
    --blue: #173b5f;
    --white: #fff;
    --black: #000;
    --grey: #f5f3f3;
    --font-family-two: 'Playfair Display', serif; 
    --font-family-three: 'Merriweather', serif;   
}

*{
    box-sizing: border-box;
}

p, h5{
    font-size: 20px;
    line-height: 32px;
    font-family: var(--font-family-three);
    letter-spacing: 1px;
}

#headers h2{
    font-family: var(--font-family-one);
    color: var(--blue);
    font-size: 40px;
    font-weight: 600;
}

#h1header .h1headerLarge{
    font-family: var(--font-family-one);
    color: var(--blue);
    font-size: 35px !important;
}
#h1header .h1headerSmall{
    font-family: var(--font-family-one);
    color: var(--blue);
    font-size: 20px;
}

#headers hr{
    width: 80px;
    height: 2px;
    background-color: var(--orange-dark);
    border: 0;
    margin: auto;
}

/* navbar */
.navbar-toggler{
    border: none !important;
    font-size: 45px;
    box-shadow: none !important;
    color: var(--orange) !important;
}

@media only screen and (max-width: 345px) { 
    #services .swapImg i{
        font-size: 15px !important;
        margin-top: 25px !important;
        padding: 2px !important;
    }
    #services .swapImg img{
        width: 50px !important;
        height: 100px !important;
    }
    #services img{
        width: 100px !important;
        height: 250px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) { 
    #services .swapImg i{
        font-size: 30px !important;
        margin-top: 50px !important;
        padding: 5px !important;
    }
    #services .swapImg img{
        width: 80px !important;
        height: 150px !important;
    }
    #services img{
        width: 200px !important;
        height: 250px !important;
    }
}

@media only screen and (max-width: 768px) {

    #navbar .nav-item a{
        text-decoration: none;
        font-family: var(--font-family-three);
        color: var(--blue);
        font-weight: 800;
        font-size: 12px;
    }

    /* banner */
    .banner-bg-screen{
        display: none;
    }
    .banner-sm-screen{
        display: block;
    }
    .banner-sm-screen {
        width: 100%;
        height: 550px;
        background-size: cover;
        object-fit: contain;
        background-image: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        background-image: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        filter : progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FC5518", GradientType=1 );  
        background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        position: relative;
    }
    .banner-sm-screen .banner-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        width: 90%;
        text-align: start;
    }
    .banner-sm-screen .banner-inner .span{
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        letter-spacing: 1px;
        font-family: var(--font-family-one);
    }
    .banner-sm-screen .banner-inner h1{
        padding-top: 20px;
        font-size: 25px;
        color: #fff;
        font-family: var(--font-family-one);
        font-weight: 900;
    }
    .banner-sm-screen .banner-inner p{
        font-family: var(--font-family-one);   
        color: var(--orange);
        font-size: 14px;
        line-height: 18px;
    }
    .banner-sm-screen .banner-inner h4{
        font-family: var(--font-family-two);   
        font-size: 20px;
        font-weight: 400;
        color: var(--orange);
    }
    .banner-sm-screen .banner-inner .btn{
        background-color: var(--orange);
        border: 2px solid var(--orange);
        font-size: 15px;
        color: #fff;
    }


    /* parallax */
    #parallaxSection{
        display: none;
    }
    #parallax-sm-screen {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img//phoneswap.jpeg");
        height: fit-content;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #parallax-sm{
        width: 100%;
        height: fit-content;
    }
    #parallax-sm h1{
        color: var(--white);
        font-size: 40px;
        font-family: var(--font-family-one);
        font-weight: 600;
    } 
    #parallax-sm p{
        color: var(--white);
    } 
    /* logistics */
    #logisticsParallaxSection{
        display: none;
    }
    #logistics-parallax-sm-screen {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/img/red_truck.webp");
        height: fit-content;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #logistics-parallax-sm-screen{
        width: 100%;
        height: fit-content;
    }
    #logistics-parallax-sm-screen h1{
        color: var(--white);
        font-size: 40px;
        font-family: var(--font-family-one);
        font-weight: 600;
    } 
    #logistics-parallax-sm-screen p{
        color: var(--white);
    } 


    /* gallery */
    .gallery-bg-screen {
        display: none;
    }
    .gallery-image img{
        height: 600px;
        width: 500px;
    }
    .gallery-grid-images img{
        height: 150px;
        width: 200px;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc5518' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }  
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc5518' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }    


    /* testimonial */
    #testimonial{
        background: var(--orange-light);
    }
    .carousel-comment h5{
        font-weight: 800;
    }
    .testimonial-image i{
        font-size: 30px;
        color: var(--orange);
        border: 3px solid var(--white);
        border-radius: 50%;
        padding: 10px;
        background-color: var(--white);
    }

} 

@media only screen and (min-width: 768px) {

    /* banner */
    .banner-bg-screen{
        display: block;
    }
    .banner-sm-screen{
        display: none;
    }
    .banner-bg-screen {
        width: 100%;
        height: 550px;
        background-size: cover;
        background-image: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        background-image: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        filter : progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FC5518", GradientType=1 );  
        background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 0%, rgba(0, 0, 0, 0.5) ), url(/assets/img/banner.jpg);
        position: relative;
    } 
    .banner-bg-screen .banner-inner {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-50%, -50%); 
        width: 90%;
        text-align: start;
    }
    .banner-bg-screen .banner-inner .span{
        font-size: 32px;
        font-weight: 100;
        color: #fff;
        letter-spacing: 1px;
        font-family: var(--font-family-one);
    }

    .banner-bg-screen .banner-inner h1{
        padding-top: 10px;
        font-size: 40px;
        color: #fff;
        font-family: var(--font-family-one);
        font-weight: 700;
    }
    .banner-bg-screen .banner-inner h5{
        font-family: var(--font-family-one);   
        color: var(--orange);
    }
    .banner-bg-screen .banner-inner h4{
        font-family: var(--font-family-one);   
        font-size: 28px;
        font-weight: 700;
        color: var(--orange);
    }
    .banner-bg-screen .banner-inner .btn{
        background-color: var(--orange);
        border: 2px solid var(--orange);
        font-size: 18px;
        color: #fff;
    }

    /* services */
    #services .cardSection{
        margin-top: 250px !important;
    }
    

    /* parallax */
    #parallax-sm-screen{
        display: none;
    }
    #parallaxSection::before {    
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.70);
    }
    #parallaxSection {
        background-image: url("/assets/img/phoneswap.jpeg");
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
    } 
    #parallaxSection .wrapperText{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
        width: 90%;
    }
    #parallaxSection .wrapperText img{
        width: 250px;
        height: 250px;
        float: left;
        margin: 10px;
    }
    #parallaxSection .wrapperText h1{
        color: var(--white);
        font-weight: 600;
        font-size: 40px;
        font-family: var(--font-family-one);
    } 
    #parallaxSection p{
        color: var(--white);
        margin-top: 15px;
    } 


    /* logistics parallax */
    #logistics-parallax-sm-screen{
        display: none;
    }
    #logisticsParallaxSection::before {    
        content: "";
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.70);
    }
    #logisticsParallaxSection {
        background-image: url("/assets/img/red_truck.webp");
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
    } 
    #logisticsParallaxSection .wrapperText{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -35%);
        width: 90%;
    }
    #logisticsParallaxSection .wrapperText img{
        width: 200px;
        height: 200px;
        float: left;
        margin: 10px;
    }
    #logisticsParallaxSection .wrapperText h1{
        color: var(--white);
        font-weight: 600;
        font-size: 40px;
        font-family: var(--font-family-one);
    } 
    #logisticsParallaxSection p{
        color: var(--white);
        margin-top: 15px;
    } 


    /* gallery */
    .gallery-image img{
        height: 600px;
        width: 600px;
    }
    .gallery-grid-images img{
        height: 230px;
        width: 230px;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc5518' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc5518' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }   


    /* testimonial */
    #testimonial{
        background: var(--orange-light);
    }
    .carousel-comment h5{
        font-weight: 800;
    }
    .testimonial-image i{
        font-size: 30px;
        color: var(--orange);
        border: 3px solid var(--white);
        border-radius: 50%;
        padding: 10px;
        background-color: var(--white);
    }
}


/* navbar */
#navbar .nav-item a{
    text-decoration: none;
    font-family: var(--font-family-three);
    color: var(--blue);
    font-weight: 800;
}
#navbar .nav-item a:hover{
    text-decoration: none;
    color: var(--orange);
}
#navbar .dropdown a:hover{
    text-decoration: none;
    color: var(--orange);
    background-color: white;
}

/* about */
#about .wrapperText img {
    width: 360px;
    height: 300px;
    float: left;
    margin: 5px;
}

/* services */
#services {
    background: var(--orange-light);
}
#services h5{
    color: var(--orange);
}
#services i{
    font-size: 45px;
    color: var(--orange);
}
#services .swapImg i{
    font-size: 70px;
    margin-top: 70px;
    padding: 15px;
}
#services .swapImg img{
    width: 100px;
    height: 250px;
}
#services img{
    width: 250px;
    height: 250px;
}


/* hero section */
#hero .hero-image img {
    width: 350px;
    height: 240px;
    float: right;
}


/* contact */
#form{
    font-family: var(--font-family-three);
    color: var(--orange);
    letter-spacing: 1px;
}
input:focus, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    -webkit-box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    -moz-box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    border: 1px solid var(--grey);
}
:required:focus{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    -webkit-box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    -moz-box-shadow: -4px 3px 23px -12px rgba(222,25,25,0.57);
    border: 1px solid var(--grey);

}
#socials a{
    color: var(--orange);
    background-color: var(--orange-light);
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
}
.btn{
    background: var(--orange-light);
    border: none;
    border-radius: 0px;
    color: var(--orange);
    font-weight: 600;
    margin: 3px;
    letter-spacing: 1px;
}
.btn:hover{
    background: var(--orange-dark);
    border: none;
    color: var(--white);
    font-weight: 600;
    margin: 3px;
}


/* quick links */
#quick-links{
    background: var(--orange-light);
}
#quick-links a{
    text-decoration: none;
    color: var(--orange);    
    letter-spacing: 1px;
}


/* footer */
#footer img{
    height: 12vh;
}
#footer i {
    color: var(--orange);
    background-color: var(--orange-light);
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
}
#footer h5 {
    color: var(--black);
    font-size: 20px;
}
#footer p {
    font-size: 15px;
}
#footer .quickLinks ul li {
    padding-bottom: 5px;
}
#footer .quickLinks ul {
    list-style: none;
    padding: 0px;
    letter-spacing: 1px;
}
#footer .quickLinks a {
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 1px;
}
#footer a {
    text-decoration: none;
    color: var(--orange);
    font-size: 16px;
    letter-spacing: 1px;
}
#footer #info a{
    color: var(--black);
}
#footer span {
    color: var(--orange);
}

/* fixed arrow */
#arrow i{
    font-size: 40px;
    color:  var(--orange);
    background-color: white;
}






